@tailwind base;
@tailwind utilities;

body {
    background: #edeef0;
}

.left-side {
    background: #1a1a1a;
    font-size: 11px;
    width: 270px;
    color: white;
    z-index: 2;
}

.project-create {
    margin: -15px;
    cursor: pointer;
}

.project-create p {
    font-size: 16px;
    margin-top: 14px;
}

.input {
    padding: 4px;
    font-size: 12px;
    width: 100%;
    height: 36px;
}

.modal {
    width: 300px;
    padding: 15px;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
}

.modal-btn {
    font-size: 12px;
}

.modal-btn:disabled {
    opacity: 50%;
}

.project-list li {
    line-height: 26px;
    cursor: pointer;
    position: relative;
}

.project-list li .level-1:hover {
    background: #2e3d6e;
}

.project-list li .folder-list li .level-2:hover {
    background: #2e3d6e;
}

.project-list li .folder-list li .level-2.selected {
    background: #4d66b5;
}

.project-list li .level-1 {
    padding: 0 15px;
}

.project-list li .folder-list li .level-2 {
    padding: 0 15px 0 25px;
}

.project-list li .request-list li .level-2 {
    padding: 0 15px 0 40px;
}

.dots-level-1, .dots-level-2 {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 34px;
    height: 26px;
}

.project-list li .level-1:hover .dots-level-1 {
    opacity: 100;
}

.project-list li .folder-list li .level-2:hover .dots-level-2 {
    opacity: 100;
}

.project-list li .icon {
    width: 12px;
}

.menu-level-1 {
    position: absolute;
    right: 15px;
    top: 26px;
    background: white;
    border-radius: 4px;
    color: #555;
    width: 126px;
    overflow: hidden;
    z-index: 3;
}

.menu-level-1 li {
    padding: 5px 10px;
    line-height: 14px;
    white-space: nowrap;
}

.menu-level-1 li:hover {
    background: #6cc7f3;
    color: white;
}

.right-side {
    width: 100vw;
    margin-left: -270px;
    padding: 10px 10px 0px 280px;
}

.box-inner {
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 10px;
}

.box-inner-mb {
    margin-bottom: 10px;
}

.item-name {
    font-size: 16px;
    font-weight: 600;
}

.item-btn {
    width: 100px;
    padding: 2px;
}

.select-box {
    margin-right: 10px;
    position: relative;
}

.selected-box {
    padding: 4px;
    height: 34px;
}

.select-list {
    position: absolute;
    width: 100%;
    background: white;
    top: 36px;
}

.select-list li {
    padding: 4px;
}

.select-list li:hover {
    background: #6cc7f3;
    color: white;
}
